<!DOCTYPE html>
<html>
<style>

 body{
    margin: 10em 10em 10em 10em;
    background: linear-gradient(red, yellow);
  }

  header{
    background-color: black;
    padding: 0;
  }

  h1{
    font-size: 50px;
    color:white;
    text-decoration: underline;
    padding:1em;
  }

  h2{
    color:white;
  }

  section{
    border-width: 1em;
    margin-top: -35px;
    margin-left: 165px;
    margin-right: 165px;
    padding: 10px;
    max-width: 650px;
    background: linear-gradient(red, yellow);
  }

  table,tr,td,th{
    background-color: white;
    border: solid;
    border-collapse: collapse;
  }

  th,tr,td{
    padding: 5px;
  }

  article{
    background-color: black;
  }


  div.relative{
    max-width: 130px;
    position: relative;
    bottom:0;
    left: 250px;
    background-color: white;
    border-radius: 130px;
    border: solid;
    border-color: black;
    font-size: 25px;

  }

  footer{
    padding:2em;
    background-color: black;
    color:white;
  }

</style>

<body>

<p id="notice"><%= notice %></p>

<header>
<h1><center>FINDDISH<center></h1>
</header>

<article>
<section>
<h2><em>Reservas Registradas</em></h2>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Estado</th>

      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><%= reserva.fecha %></td>
        <td><%= reserva.hora %></td>
        <td><%= reserva.estado %></td>
        <td><%= link_to 'Mostar', reserva %></td>
        <td><%= link_to 'Editar', edit_reserva_path(reserva) %></td>
        <td><%= link_to 'Destruir', reserva, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
    <div class="relative">
    <center><%= link_to 'Registrar', new_reserva_path %></center>
    </div>
</section>
</article>

<footer>
  <center><em>Reservaciones </em></center>
</footer>

</body>
</html>
